/* enter */
.cfade-enter { opacity: 0; }
.cfade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
/* exit */
.cfade-exit { opacity: 1; }
.cfade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
